{
	email {$ACME_EMAIL}
	admin 127.0.0.1:2019
}

{$DOMAIN} {
	encode zstd gzip

	header {
		-Server
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "no-referrer"
		Permissions-Policy "camera=(), geolocation=(), microphone=()"
	}

	reverse_proxy app:8000

	log {
		output stdout
		format json
	}
}
